/venv/
/results/
/abo-listings/

/frontend/node_modules
/frontend/dist
/frontend/build
/frontend/public/models
/frontend/public/textures

/frontend/objects

.cursorignore
.DS_Store
.env

*.glb
*.csv
*.tar